.selectfractal{
    width: 250px;
    height: 45px;
    border-radius:36px;
    display:inline-block;
    overflow:hidden;
    background:#F8C0C8;
    border:1px solid #F8C0C8;
    font-family: 'Jaldi';
}